body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0 auto 0;
  padding-top: 64px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 1024px;
}

#main {
  width: 540px;
  margin: 0 auto 64px;
}

h2 {
  font-family: Dosis;
  font-weight: 500;
  font-size: 32px;
}

h2 span {
  color: #ee24ff;
  font-weight: bold;
}

span,
#footer a {
  color: #3f3d56;
  font-weight: bold;
  text-decoration: none;
}

#footer {
  border-top: 1px solid #eceff2;
  margin: auto;
  width: 391px;
}

p {
  font-size: 15px;
  color: #828282;
  line-height: 22px;
  margin-bottom: 32px;
}

#footer a + a {
  margin-left: 42px;
}

#wave {
  margin-top: 40px;
}
